*{margin:0;padding:0;box-sizing:border-box}

body{
  background: radial-gradient(circle,#000,#1a0012);
  height:100vh;
  overflow:hidden;
  color:white;
  font-family:Arial, sans-serif;
}

.scene{position:relative;height:100%;text-align:center}

.text{
  position:absolute;
  width:100%;
  top:15%;
  font-size:2em;
  opacity:0;
}

.stage4{
  top:10%;
  font-size:2.3em;
  color:#ffd700;
}

.media{
  position:absolute;
  bottom:10%;
  width:100%;
  display:flex;
  justify-content:center;
  gap:15px;
}

.media img,
.media video{
  width:140px;
  border-radius:12px;
  opacity:0;
}

#startOverlay{
  position:fixed;
  inset:0;
  background:black;
  color:white;
  display:flex;
  align-items:center;
  justify-content:center;
  font-size:24px;
  z-index:9999;
}
